@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>...</h3>

<address>
    <strong>Web:</strong>  <a href="http://winco.azurewebsites.net">http://winco.azurewebsites.net</a>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:wincotv@gmail.com">wincotv@gmail.com</a><br />
    
</address>